# IDE stuff
.idea/
venv/

# python stuff
__pycache__/
*/__pycache__/*

# test stuff
tests/output/sample_*/
nextflow_project_at_*/
test_project_*/

# package-related
build/
dist/
py_nf.egg-info/
token
